<main class="main-content">
  <div class="login-container">

    <!-- Left -->
    <div class="login-image">
      <div class="image-content">
        <h2>Đặt lại mật khẩu</h2>
        <p>
          Nhập mật khẩu mới để tiếp tục sử dụng tài khoản.
        </p>
      </div>
    </div>

    <!-- Right -->
    <div class="login-form-container">

      <form class="login-form" #f="ngForm" (ngSubmit)="reset(f)" novalidate>

        <!-- PASSWORD -->
        <div class="form-group">
          <label>Mật khẩu mới</label>

          <div class="input-wrapper">
            <input
              type="password"
              name="matKhauMoi"
              [(ngModel)]="matKhauMoi"
              #pass="ngModel"
              required
              pattern="^(?=.*[A-Za-z])(?=.*\d).{6,}$"
              placeholder="Nhập mật khẩu mới"
              [class.input-error]="pass.invalid && pass.touched">
          </div>

          <p class="error" *ngIf="pass.touched && pass.invalid">
            <span *ngIf="pass.errors?.['required']">Không được để trống</span>
            <span *ngIf="pass.errors?.['pattern']">
              Ít nhất 6 ký tự, gồm chữ và số
            </span>
          </p>
        </div>

        <!-- CONFIRM -->
        <div class="form-group">
          <label>Xác nhận mật khẩu</label>

          <div class="input-wrapper">
            <input
              type="password"
              name="confirmPassword"
              [(ngModel)]="confirmPassword"
              #confirm="ngModel"
              required
              placeholder="Nhập lại mật khẩu"
              [class.input-error]="(confirm.touched && confirmPassword !== matKhauMoi)">
          </div>

          <p class="error" *ngIf="confirm.touched && confirmPassword !== matKhauMoi">
            Mật khẩu không khớp
          </p>
        </div>

        <!-- GLOBAL MESSAGE -->
        <p class="message success" *ngIf="message">
          {{ message }}
        </p>

        <p class="message error" *ngIf="error">
          {{ error }}
        </p>

        <!-- BUTTON -->
        <button
          type="submit"
          class="btn-login"
          [disabled]="f.invalid || loading">

          {{ loading ? 'Đang xử lý...' : 'Đổi mật khẩu' }}

        </button>

        <!-- BACK -->
        <p class="register-link">
          Nhớ mật khẩu?
          <a routerLink="/login">Đăng nhập ngay</a>
        </p>

      </form>

    </div>
  </div>
</main>